Repository mikeleppane/envx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikeleppane, @envx/docs-team, @envx/core-team, @envx/cli-team, @envx/tui-team, @envx/ux-team, @envx/security-team, @envx/devops-team, @envx/performance-team, @envx/windows-team, @envx/macos-team, @envx/linux-team, @envx/community-team, @envx/release-team, @envx/integrations-team

docs: update footer to reflect use of Ratatui in the project
  README.md
Owners: @mikeleppane, @envx/core-team

fix: update spell checker configuration and improve Unix variable handling
  .typos.toml
  README.md
  crates/core/src/analysis.rs
  crates/core/src/env.rs
Owners: @mikeleppane, @envx/core-team

fix: remove unnecessary Result handling in Unix variable setting
  crates/core/src/env.rs
Owners: @mikeleppane, @envx/core-team

fix: call load_unix_vars directly instead of ignoring the result
  crates/core/src/env.rs
Owners: @mikeleppane, @envx/core-team

fix: mark environment variable manipulation as unsafe in tests
  crates/core/src/env.rs
Owners: @mikeleppane, @envx/core-team

fix: update README to reflect Snapshots & Profiles feature implementation
  .gitignore
  README.md
Owners: @mikeleppane, @envx/core-team

feat: add snapshot and snapshot manager functionality
  Cargo.lock
  Cargo.toml
  crates/cli/src/cli.rs
  crates/core/Cargo.toml
  crates/core/src/env.rs
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/core/src/profile_manager.rs
  crates/core/src/snaphot.rs
  crates/core/src/snapshot_manager.rs
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team, @envx/cli-team, @envx/core-team

fix: correct spelling of 'snapshot' in module imports
  crates/core/src/lib.rs
  crates/core/src/profile_manager.rs
  crates/core/src/snapshot.rs
  crates/core/src/snapshot_manager.rs
Owners: @mikeleppane, @envx/core-team

fix: rename package from 'envx' to 'envex' and update related documentation
  Cargo.lock
  Cargo.toml
  README.md
  crates/cli/Cargo.toml
  crates/cli/README.md
  crates/core/Cargo.toml
  crates/core/README.md
  crates/envx/Cargo.toml
  crates/tui/Cargo.toml
  crates/tui/README.md
Owners: @mikeleppane, @envx/security-team, @envx/core-team, @envx/cli-team, @envx/tui-team

feat: Add project management commands and configuration handling
  Cargo.lock
  Cargo.toml
  crates/cli/src/cli.rs
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/project_config.rs
  crates/core/src/project_manager.rs
  crates/envx/src/main.rs
Owners: @mikeleppane, @envx/security-team, @envx/cli-team, @envx/core-team

fix: comment out trigger conditions in CodSpeed workflow
  .github/workflows/codspeed.yml
Owners: @mikeleppane, @envx/devops-team

feat: Add project management commands and configuration handling (#1)
  .github/workflows/codspeed.yml
  Cargo.lock
  Cargo.toml
  crates/cli/src/cli.rs
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/project_config.rs
  crates/core/src/project_manager.rs
  crates/envx/src/main.rs
Owners: @mikeleppane, @envx/devops-team, @envx/security-team, @envx/cli-team, @envx/core-team

feat: Implement project management commands and enhance environment variable handling with rename, replace, and find-replace functionalities
  README.md
  crates/cli/src/cli.rs
  crates/core/src/env.rs
Owners: @mikeleppane, @envx/core-team, @envx/cli-team

feat: Implement project management commands and enhance environment variable handling with rename, replace, and find-replace functionalities (#2)
  README.md
  crates/cli/src/cli.rs
  crates/core/src/env.rs
Owners: @mikeleppane, @envx/core-team, @envx/cli-team

feat: Bump version to 0.3.0 for envex and related packages
  Cargo.lock
  Cargo.toml
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team

feat: Add project configuration feature to README
  README.md
Owners: @mikeleppane, @envx/core-team

feat: Bump version to 0.3.0 for envex and related packages (#3)
  Cargo.lock
  Cargo.toml
  README.md
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team, @envx/core-team

feat: add watch and monitor commands for environment variable management
  Cargo.lock
  Cargo.toml
  README.md
  crates/cli/Cargo.toml
  crates/cli/src/cli.rs
  crates/cli/src/lib.rs
  crates/cli/src/monitor.rs
  crates/core/Cargo.toml
  crates/core/src/env_watcher.rs
  crates/core/src/lib.rs
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team, @envx/core-team, @envx/cli-team

feat: add watch and monitor commands for environment variable management (#4)
  Cargo.lock
  Cargo.toml
  README.md
  crates/cli/Cargo.toml
  crates/cli/src/cli.rs
  crates/cli/src/lib.rs
  crates/cli/src/monitor.rs
  crates/core/Cargo.toml
  crates/core/src/env_watcher.rs
  crates/core/src/lib.rs
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team, @envx/core-team, @envx/cli-team

feat(cli): add project management commands for init, apply, check, edit, info, run, and require
  crates/cli/src/cli.rs
  crates/cli/src/lib.rs
  crates/cli/src/list.rs
  crates/cli/src/monitor.rs
  crates/cli/src/path.rs
  crates/cli/src/profile.rs
  crates/cli/src/project.rs
  crates/cli/src/rename.rs
  crates/cli/src/replace.rs
  crates/cli/src/snapshot.rs
  crates/cli/src/watch.rs
  crates/core/src/env_watcher.rs
Owners: @mikeleppane, @envx/cli-team, @envx/core-team

feat(cli): add project management commands for init, apply, check, edit, info, run, and require (#5)
  crates/cli/src/cli.rs
  crates/cli/src/lib.rs
  crates/cli/src/list.rs
  crates/cli/src/monitor.rs
  crates/cli/src/path.rs
  crates/cli/src/profile.rs
  crates/cli/src/project.rs
  crates/cli/src/rename.rs
  crates/cli/src/replace.rs
  crates/cli/src/snapshot.rs
  crates/cli/src/watch.rs
  crates/core/src/env_watcher.rs
Owners: @mikeleppane, @envx/cli-team, @envx/core-team

feat: bump version to 0.4.1 for envex and related packages; add introduction video to README
  Cargo.lock
  Cargo.toml
  README.md
  crates/envx/Cargo.toml
  crates/tui/src/app.rs
Owners: @mikeleppane, @envx/security-team, @envx/core-team, @envx/tui-team

feat: bump version to 0.4.1 for envex and related packages; add introduction video to README (#6)
  Cargo.lock
  Cargo.toml
  README.md
  crates/envx/Cargo.toml
  crates/tui/src/app.rs
Owners: @mikeleppane, @envx/security-team, @envx/core-team, @envx/tui-team

feat: bump version to 0.4.2 for envex and related packages; update default variable setting behavior
  Cargo.toml
  crates/core/src/project_manager.rs
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team, @envx/core-team

feat: bump version to 0.4.2 for envex and related packages; update default variable setting behavior (#7)
  Cargo.toml
  crates/core/src/project_manager.rs
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team, @envx/core-team

feat: bump version to 0.4.2 for envex and related packages
  Cargo.lock
Owners: @mikeleppane

feat: bump version to 0.4.2 for envex and related packages (#8)
  Cargo.lock
Owners: @mikeleppane

feat: Add documentation generation command
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  README.md
  crates/cli/Cargo.toml
  crates/cli/src/cli.rs
  crates/cli/src/deps.rs
  crates/cli/src/docs.rs
  crates/cli/src/lib.rs
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team, @envx/core-team, @envx/cli-team

fix(tests): correct masking assertions in tests to disable spellchecker warnings
  crates/cli/src/docs.rs
Owners: @mikeleppane, @envx/cli-team

fix(tests): update comments to disable spellchecker warnings in masking assertions
  crates/cli/src/docs.rs
Owners: @mikeleppane, @envx/cli-team

fix(spelling): add "valu" and correct "cache" in typos configuration
  .typos.toml
Owners: @mikeleppane

fix(spelling): correct "cache" entry in typos configuration
  .typos.toml
Owners: @mikeleppane

feat: Add documentation generation command (#9)
  .cargo/config.toml
  .typos.toml
  Cargo.lock
  Cargo.toml
  README.md
  crates/cli/Cargo.toml
  crates/cli/src/cli.rs
  crates/cli/src/deps.rs
  crates/cli/src/docs.rs
  crates/cli/src/lib.rs
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team, @envx/core-team, @envx/cli-team

bump version to 0.6.0 and update edition to 2024 in Cargo.toml
  Cargo.lock
  Cargo.toml
  README.md
  crates/cli/Cargo.toml
  crates/cli/src/cli.rs
  crates/cli/src/deps.rs
  crates/cli/src/docs.rs
  crates/cli/src/lib.rs
  crates/cli/src/monitor.rs
  crates/cli/src/project.rs
  crates/cli/src/wizard.rs
  crates/core/Cargo.toml
  crates/core/src/analysis.rs
  crates/core/src/env_watcher.rs
  crates/core/src/importer.rs
  crates/core/src/lib.rs
  crates/core/src/profile_manager.rs
  crates/core/src/project_config.rs
  crates/core/src/project_manager.rs
  crates/core/src/snapshot.rs
  crates/core/src/snapshot_manager.rs
  crates/core/src/templates.rs
  crates/core/src/wizard.rs
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team, @envx/core-team, @envx/cli-team

bump version to 0.6.0 and update edition to 2024 in Cargo.toml (#10)
  Cargo.lock
  Cargo.toml
  README.md
  crates/cli/Cargo.toml
  crates/cli/src/cli.rs
  crates/cli/src/deps.rs
  crates/cli/src/docs.rs
  crates/cli/src/lib.rs
  crates/cli/src/monitor.rs
  crates/cli/src/project.rs
  crates/cli/src/wizard.rs
  crates/core/Cargo.toml
  crates/core/src/analysis.rs
  crates/core/src/env_watcher.rs
  crates/core/src/importer.rs
  crates/core/src/lib.rs
  crates/core/src/profile_manager.rs
  crates/core/src/project_config.rs
  crates/core/src/project_manager.rs
  crates/core/src/snapshot.rs
  crates/core/src/snapshot_manager.rs
  crates/core/src/templates.rs
  crates/core/src/wizard.rs
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team, @envx/core-team, @envx/cli-team

feat: bump version to 0.6.1 and update dependencies; add support for Go and Next.js in setup wizard
  Cargo.lock
  Cargo.toml
  README.md
  crates/cli/src/project.rs
  crates/core/src/wizard.rs
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team, @envx/core-team, @envx/cli-team

fix: update video link for interactive wizard demonstration in README
  README.md
Owners: @mikeleppane, @envx/core-team

Chore/improve wizard (#11)
  Cargo.lock
  Cargo.toml
  README.md
  crates/cli/src/project.rs
  crates/core/src/wizard.rs
  crates/envx/Cargo.toml
Owners: @mikeleppane, @envx/security-team, @envx/core-team, @envx/cli-team

.github/CODEOWNERS:

# CODEOWNERS for envx
# This file defines who is responsible for code review in different parts of the project.
# Each line is a file pattern followed by one or more owners.
# Order matters: the last matching pattern takes precedence.

# Default owners for everything in the repo
# These owners will be requested for review when someone opens a pull request
* @mikeleppane

# Documentation
# All documentation should be reviewed by maintainers and doc team
*.md @mikeleppane @envx/docs-team
/docs/ @mikeleppane @envx/docs-team
README.md @mikeleppane @envx/core-team
CONTRIBUTING.md @mikeleppane @envx/core-team

# Core library
# The core functionality requires careful review
/crates/core/ @mikeleppane @envx/core-team
/crates/core/src/lib.rs @mikeleppane
/crates/core/src/manager.rs @mikeleppane
/crates/core/src/error.rs @mikeleppane @envx/core-team

# CLI implementation
# Command-line interface changes
/crates/cli/ @mikeleppane @envx/cli-team
/crates/cli/src/commands/ @mikeleppane @envx/cli-team
/crates/cli/src/lib.rs @mikeleppane

# TUI implementation
# Terminal UI requires UX review
/crates/tui/ @mikeleppane @envx/tui-team
/crates/tui/src/app.rs @mikeleppane @envx/tui-team
/crates/tui/src/ui.rs @mikeleppane @envx/tui-team @envx/ux-team

# Main binary
/crates/envx/ @mikeleppane @envx/core-team

# Configuration files
# Important project configuration requires admin review
Cargo.toml @mikeleppane @envx/core-team
Cargo.lock @mikeleppane
rustfmt.toml @mikeleppane @envx/core-team
clippy.toml @mikeleppane @envx/core-team
deny.toml @mikeleppane @envx/security-team

# CI/CD
# Changes to CI/CD require DevOps review
/.github/ @mikeleppane @envx/devops-team
/.github/workflows/ @mikeleppane @envx/devops-team
/.github/ISSUE_TEMPLATE/ @mikeleppane @envx/core-team
/.github/PULL_REQUEST_TEMPLATE.md @mikeleppane @envx/core-team

# Security-sensitive files
# Security-related changes need security team review
/crates/core/src/crypto.rs @mikeleppane @envx/security-team
/crates/core/src/security/ @mikeleppane @envx/security-team
SECURITY.md @mikeleppane @envx/security-team

# Build and deployment
/scripts/ @mikeleppane @envx/devops-team
/Dockerfile @mikeleppane @envx/devops-team
/.dockerignore @mikeleppane @envx/devops-team

# Test files
# Tests can be reviewed by any core team member
**/tests/ @envx/core-team
**/benches/ @envx/core-team @envx/performance-team
/tests/ @envx/core-team

# Platform-specific code
# Platform maintainers should review their specific code
/crates/core/src/platform/windows.rs @mikeleppane @envx/windows-team
/crates/core/src/platform/macos.rs @mikeleppane @envx/macos-team
/crates/core/src/platform/linux.rs @mikeleppane @envx/linux-team

# Import/Export functionality
# Data format handling needs careful review
/crates/core/src/export/ @mikeleppane @envx/core-team
/crates/core/src/import/ @mikeleppane @envx/core-team

# Dependencies
# Dependency changes need security review
**/Cargo.toml @mikeleppane @envx/security-team

# License and legal
LICENSE @mikeleppane
NOTICE @mikeleppane
PATENTS @mikeleppane

# Community files
CODE_OF_CONDUCT.md @mikeleppane @envx/community-team
.github/FUNDING.yml @mikeleppane

# Release files
CHANGELOG.md @mikeleppane @envx/core-team
/release/ @mikeleppane @envx/release-team

# Benchmarking and performance
/benches/ @mikeleppane @envx/performance-team
/perf/ @mikeleppane @envx/performance-team

# External integrations
/crates/integrations/ @mikeleppane @envx/integrations-team

# Example code
/examples/ @mikeleppane @envx/docs-team
